.img {
    background-image: url(albumsFondo.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(0, 147, 200);
}


.bor {
    border: 2px solid rgb(24, 162, 0);
    /* Bordes */
    border-radius: 1.5rem;
    /* Bordes redondeados */
    padding: 2rem;
    /* Espaciado interno */
    display: flex;
    /* Flexbox para centrar */
    flex-direction: column;
    /* Disposición vertical */
    justify-content: center;
    /* Centrado vertical */
    align-items: center;
    /* Centrado horizontal */
}


button {
    padding: 10px 20px;
    border-radius: 5px;
    /* Bordes redondeados */
    border: none;
    background: #ff4500;
    /* Color de fondo para botones activos */
    color: white;
    /* Texto blanco */
    cursor: pointer;
}

/* Estilos para botones deshabilitados */
button:disabled {
    background: lightgray;
    /* Fondo para botones deshabilitados */
    color: red;
    /* Texto rojo para indicar "sold out" */
    cursor: not-allowed;
    /* Cursor que indica que está deshabilitado */
}

button:hover {
    background: darkred;
    /* Cambia el color al pasar el ratón */
}