body{
    background-image: url(loginyAlbums.png);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center;
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 700;
    font-style: normal;
    }

    .image-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr); /* 4 columnas iguales */
        grid-auto-rows: 200px; /* Altura mínima de las celdas */
        gap: 1rem; /* Espacio entre elementos */
        padding: 1rem; /* Espacio interno */
    }

    .image-grid img {
        object-fit: cover; /* Las imágenes cubren todo el espacio */
        width: 100%; /* Ancho completo */
        height: 100%; /* Altura completa para cubrir la celda */
        border-radius: 0.5rem; /* Bordes redondeados */
        transition: transform 0.3s; /* Efecto de transición */
    }

    .image-grid img:hover {
        transform: scale(1.05); /* Efecto de zoom al pasar el mouse */
    }



   
   