
body{
    background-image: url(dreadmari.jpeg);
    background-color: rgb(3, 193, 236);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    font-family: 'Arial', sans-serif;
}
 
 
  

  

